.background {
  background: linear-gradient(to left, #fd929f, #bfe9ff);
  height: 110vh;
  @include respond(tab-land) {
    height: 160vh;
  }
  @include respond(tab-port) {
    height: 320vh;
  }
  @include respond(phone) {
    height: 120vh;
  }
}
.container {
  @include absoluteCenter;
  background: linear-gradient(to left, #fd929f, #bfe9ff);
  opacity: 0.8;
  height: 65rem;
  margin-top: 3rem;
  border-radius: 20px;
  display: table;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  width: 75%;

  @include respond(tab-land) {
    transform: translate(-50%, -30%);
    width: 80%;
  }
  @include respond(tab-port) {
    transform: translate(-50%, -17%);
    display: block;
    height: 150rem;
    width: 80%;
  }
  @include respond(phone) {
    height: 110rem;
    transform: translate(-50%, -20%);
    display: block;
    width: 100%;
  }
  @include respond(small-phone) {
    transform: translate(-50%, -15%);
    height: 150rem;
  }

  &__left {
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem;
    padding-left: 4rem;
    @include respond(tab-port) {
      width: 100%;
      display: block;
      height: 80rem;
    }
    @include respond(phone) {
      display: block;
      padding: 2rem 0;
      height: 35rem;
    }
  }
  &__right {
    display: table-cell;
    padding: 1rem 2rem;
    @include respond(tab-port) {
      display: block;
      padding-top: 10rem;
    }
    @include respond(phone) {
      display: block;
      padding-top: 5rem;
    }
    &-heading {
      padding: 1rem 1rem;
      text-align: center;
    }
    &-body-summary {
      padding: 0 2rem;
      line-height: 2.2rem;
    }
    &-body-episodes {
      padding: 2rem 0;
      @include respond(phone) {
        margin: 0 -2rem;
      }
    }
  }
}
.poster {
  height: 50%;
  @include respond(tab-land) {
    height: 40%;
  }
  @include respond(tab-port) {
    height: 110%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @include respond(phone) {
    padding: 2rem;
    height: 124%;
  }
}
.ep-list {
  padding: 2rem 0;
}
.ep-render:hover {
  color: rgba(58, 57, 58, 0.473);
}
