//GRID
$grid-width: 114rem;
$gutter-vertical: 12rem;
$gutter-horizontal: 0rem;

//COLOR:
$primary-color: white;
$primary-color-dark: rgba(58, 57, 58, 0.473);
$gradient-1: #fd929f;
$gradient-2: #bfe9ff;
